<!DOCTYPE html>
<html lang="en">

<head>
  <title>ATN Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%;
      /* Set width to 100% */
      margin: auto;
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
      }
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: black;
      text-align: center;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="https://www.facebook.com/isnotkrist">About</a></li>
          <li><a href="https://www.facebook.com/isnotkrist">Contact</a></li>
          <li><a href="/login">Log Out</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_3.jpg?v=119" alt="Image">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="https://theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_7.jpg?v=119" alt="Image">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <img src="https://theme.hstatic.net/1000160337/1000373353/14/psl_1_r1_slide_img_1.jpg?v=119" alt="Image">
        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="product">
    <table class="table bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Image</th>
        </tr>
      </thead>
      {{#each model}}
      <tr>
        <td>{{name}}</td>
        <td>{{price}} $</td>
        <td>{{amount}}</td>
        <td><img width="200px" , height="200px" src="{{image}}" alt=""></td>
      </tr>
      {{/each}}
    </table>
  </div>

  <div class="container text-center">
    <h1>Best - Selling Product</h1><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="https://images-na.ssl-images-amazon.com/images/I/91F6wTOzwVL._AC_SL1500_.jpg" class="img-responsive"
          style="width:360px;height:370px;" alt="Image">
        <h3>Dragon Ball</h3>
      </div>
      <div class="col-sm-4">
        <img
          src="https://i0.wp.com/ae01.alicdn.com/kf/HTB1XwlZdrorBKNjSZFjq6A_SpXaG/Love-Live-High-quality-Acrylic-Stand-font-b-figure-b-font-model-Toujou-Nozomi-Yazawa-nico.jpg?crop=5,2,900,500&quality=2886"
          class="img-responsive" style="width:360px;height:370px;" alt="Image">
        <h3>Love Live High</h3>
      </div>
      <div class="col-sm-4">
        <img
          src="https://i0.wp.com/ae01.alicdn.com/kf/HTB1FIpjOpXXXXXDXpXXq6xXFXXXY/Love-Live-KOSAKA-HONOKA-font-b-MINAMI-b-font-font-b-KOTORI-b-font-SONODA-UMI.jpg?crop=5,2,900,500&quality=2886"
          class="img-responsive" style="width:360px;height:370px;" alt="Image">
        <h3>Kosaka Honoka</h3>
      </div>
    </div>
  </div><br>


  <div class="footer">
    <footer class="container-fluid text-center">
      <span class="footer-copyright">OnlyKrist Shop © Copyright 2020. All Rights Reserved.</span>
    </footer>
  </div>


</body>

</html>